[MASTER]
load-plugins=pylint_django

[MESSAGES CONTROL]
enable=all
disable=missing-docstring,
        fixme,
        locally-disabled,
        suppressed-message

[BASIC]
argument-rgx=[a-z_][a-z0-9_]{0,30}$