[MASTER]
load-plugins=pylint_django

[MESSAGES CONTROL]
enable=all
disable=missing-docstring,
        locally-disabled,
        suppressed-message,
        too-many-ancestors,
        too-few-public-methods,
        cyclic-import,
        bad-continuation

[BASIC]
const-rgx=[a-zA-Z_][a-zA-Z0-9_]{0,30}$
argument-rgx=[a-z_][a-z0-9_]{0,30}$