{% extends 'crashbin_app/base.html' %}
{% load components %}

{% block menu_bins_class %}active{% endblock %}
{% block title %}Bins{% endblock %}

{% block content %}
    <div class="container my-2 p-0">
        <div class="row">
            <div class="col-lg m-2 p-0 px-4 pb-4 bg-white">
                <h1 class="my-2">All Bins</h1>
                <div class="bin-filter d-flex flex-row my-3">
                    <div class="input-group input-group">
                        <div class="input-group-prepend">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">Filters</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Filter 1</a>
                                <a class="dropdown-item" href="#">Filter 2</a>
                            </div>
                        </div>
                        <input type="text" class="form-control" placeholder="Search..."
                               aria-label="Text input with dropdown button">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button">Search</button>
                        </div>
                    </div>
                    <a class="btn btn-primary text-nowrap ml-3" href="/bin/new/" role="button">New Bin</a>
                </div>
                {% bin_list bins 'subscribed' %}
            </div>
        </div>
    </div>
{% endblock %}
