{% extends 'crashbin_app/base.html' %}
{% load components %}

{% block menu_bins_class %}active{% endblock %}
{% block title %}Bins{% endblock %}

{% block content %}
    <div class="container my-2 p-0">
        <div class="row">
            <div class="col-lg m-2 p-0">
                <div class="px-4 pb-3 rounded bg-white">
                    <h1 class="m-0 py-2">All Bins</h1>
                    <div class="row mx-n2 mb-2">
                        <div class="col-sm p-2">
                            {% search %}
                        </div>
                        <div class="col-sm-auto p-2">
                            <a class="btn btn-block btn-primary text-nowrap" href="{% url 'bin_new' %}" role="button">New Bin</a>
                        </div>
                    </div>
                    {% bin_list bins %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
