{% extends 'crashbin_app/base.html' %}
{% load crispy_forms_tags %}
{% load components %}

{% block title %}{{ title }}{% endblock %}

{% block javascript %}
{% if delete_button %}
{% with api_view="api-"|add:delete_button|add:"-detail" list_view=delete_button|add:"_list" %}
<script>
 document.getElementById('modalDeleteButton').addEventListener('click', function () {
     fetch("{% url api_view pk=pk %}", {
         method: 'DELETE',
         headers: {'X-CSRFToken': '{{ csrf_token }}'}
     }).then(response => window.location.replace("{% url list_view %}"));
 });
</script>
{% endwith %}
{% endif %}
{% endblock %}

{% block content %}
    <div class="container width-540-md my-2 p-0">
        <div class="row">
            <div class="col-lg m-2 p-0">
                <div class="px-4 pb-4 rounded bg-white">
                    <h1 class="m-0 pt-2 text-left text-wrap text-break">{{ title }}</h1>
                    <form method="POST" class="m-0">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <div class="row">
                            <div class="col-auto">
                                {% if delete_button %}
                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                            data-target="#deleteWarningMessage">
                                        Delete {{ delete_button }}</button>
                                {% endif %}
                            </div>
                            <div class="col-auto ml-auto">
                                <button type="submit" class="save btn btn-primary">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% if delete_button %}
{% modal_delete delete_button bin_obj=bin %}
{% endif %}
{% endblock %}
