{% extends 'crashbin_app/base.html' %}
{% load crispy_forms_tags %}
{% load components %}

{% block title %}{{ title }}{% endblock %}

{% block javascript %}
{% if delete_button %}
{% with api_view="api-"|add:delete_button|add:"-detail" list_view=delete_button|add:"_list" %}
<script>
 document.getElementById('modalDeleteButton').addEventListener('click', function () {
     fetch("{% url api_view pk=pk %}", {
         method: 'DELETE',
         headers: {'X-CSRFToken': '{{ csrf_token }}'}
     }).then(response => window.location.replace("{% url list_view %}"));
 });
</script>
{% endwith %}
{% endif %}
{% endblock %}

{% block content %}
<div class="container my-3 p-0">
    <h1 class="m-0 py-2">{{ title }}</h1>
    <div class="d-flex flex-fill flex-column m-2 px-4 pb-4 rounded bg-white">
        <form method="POST" class="post-form m-0">
            {% csrf_token %}
            {{ form | crispy }}
            {% if delete_button %}
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteWarningMessage">Delete {{ delete_button }}</button>
            {% endif %}
            <button type="submit" class="save btn btn-primary">Save</button>
        </form>
    </div>
</div>
{% if delete_button %}
{% modal_delete delete_button bin_obj=bin %}
{% endif %}
{% endblock %}
