{% extends 'crashbin_app/base.html' %}

{% block menu_home_class %}active{% endblock %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="container my-4">

        <div class="row mb-4">
            <div class="col px-4 pb-4 bg-white">
                <h1 class="my-2">Overview</h1>
                <div class="card-deck">
                    <div class="text-center bg-light">
                        <div class="card-body">
                            <p class="card-text">All bins</p>
                            <h3 class="card-title">{{ bins.count }}</h3>
                        </div>
                    </div>
                    <div class="text-center bg-light">
                        <div class="card-body">
                            <p class="card-text">All reports</p>
                            <h3 class="card-title">1000</h3>
                        </div>
                    </div>
                    <div class="text-center bg-light">
                        <div class="card-body">
                            <p class="card-text">Bins you maintain</p>
                            <h3 class="card-title">1000</h3>
                        </div>
                    </div>
                    <div class="text-center bg-light">
                        <div class="card-body">
                            <p class="card-text">Reports you maintain</p>
                            <h3 class="card-title">1000</h3>
                        </div>
                    </div>
                    <div class="text-center bg-light">
                        <div class="card-body">
                            <p class="card-text">Bins you subscribed</p>
                            <h3 class="card-title">1000</h3>
                        </div>
                    </div>
                    <div class="text-center bg-light">
                        <div class="card-body">
                            <p class="card-text">Reports you subscribed</p>
                            <h3 class="card-title">1000</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col px-4 pb-3 bg-white">
                <h1 class="my-2">Maintaining</h1>
                {% for bin in bins %}
                    <div class="mb-2">
                        <div id="bin-header-{{ bin.id }}" class="list-group-header bg-light">
                            <button class="btn btn-block d-flex flex-wrap p-2" data-toggle="collapse"
                                    data-target="#bin-collapse-{{ bin.id }}"
                                    aria-expanded="true" aria-controls="bin-collapse-{{ bin.id }}">
                                <h4 class="text-justify p-2 my-auto">{{ bin.name }}</h4>
                                <div class="d-flex flex-row p-2 ml-auto my-auto">
                                    <div class="d-flex flex-row-reverse flex-wrap">
                                        {% for label in bin.labels.all %}
                                            <span class="badge text-wrap m-1 p-2"
                                                  style="background-color: {{ label.color }}; color: white">{{ label.name }}</span>
                                        {% endfor %}
                                    </div>
                                    <i class="far fa-clipboard ml-2 my-auto bin-icon"></i>
                                    <div class="ml-2 my-auto">{{ bin.reports.count }}</div>
                                </div>
                            </button>
                        </div>
                        <div id="bin-collapse-{{ bin.id }}"
                             class="collapse {% if forloop.first %}show{% endif %}"
                             aria-labelledby="bin-header-{{ bin.id }}">
                            <div>
                                <ul class="list-group">
                                    {% for report in bin.reports.all|slice:":3" %}
                                        <li class="list-group-item p-0">
                                            <a class="btn btn-block d-flex flex-wrap"
                                                href="/report/{{ report.id }}/" role="button">
                                                <p class="text-justify m-0 my-auto">{{ report.title }}</p>
                                                <div class="d-flex flex-row ml-auto my-auto">
                                                    <div class="d-flex flex-row-reverse flex-wrap">
                                                        {% for label in report.labels.all %}
                                                            <span class="badge text-wrap m-1"
                                                                    style="background-color: {{ label.color }}; color: white">{{ label.name }}</span>
                                                        {% endfor %}
                                                    </div>
                                                    <i class="far fa-comment-alt ml-2 my-auto"></i>
                                                    <div class="ml-2 my-auto">10</div>
                                                </div>
                                            </a>
                                        </li>
                                    {% endfor %}
                                    <li class="list-group-item p-0">
                                        <a class="btn btn-block" href="/bin/{{ bin.id }}/" role="button">
                                            View more
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="alert alert-warning mb-1" role="alert">
                        You aren't maintaining any bins!
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

{% endblock %}
