{% extends 'crashbin_app/base.html' %}
{% load components %}
{% load utils %}

{% block menu_labels_class %}active{% endblock %}
{% block title %}Label: {{ label.name }}{% endblock %}

{% block javascript %}
    <script>
        document.getElementById('modalDeleteButton').addEventListener('click', function () {
            fetch("{% url 'api-label-detail' pk=label.id %}", {
                method: 'DELETE',
                headers: {'X-CSRFToken': '{{ csrf_token }}'}
            }).then(response => window.location.replace("{% url 'label_list' %}"));
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container my-2 p-0">
        <div class="row">
            <div class="col-md p-0">
                <div class="row m-0">
                    <div class="d-flex flex-fill flex-column m-2 px-4 pb-3 rounded bg-white">
                        <div class="d-flex flex-row m-0 pt-2">
                            <h1>{{ label.name }}</h1>
                            <a class="ml-auto my-auto title-icon" href="#"
                                data-toggle="modal" data-target="#deleteWarningMessage">
                                <i class="fas fa-trash"></i>
                            </a>
                            <a class="ml-auto my-auto title-icon"
                                href="{% url 'label_new_edit' pk=label.id %}">
                                <i class="fas fa-pen"></i>
                            </a>
                        </div>
                        <p>{{ label.description }}</p>
                        <span class="m-0 p-2 rounded w-25" style="{% label_style label %}">{{ label.color }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% modal_delete 'label' %}
{% endblock %}
