{% extends 'crashbin_app/base.html' %}
{% load components %}

{% block menu_reports_class %}active{% endblock %}
{% block title %}Report: {{ report.title }}{% endblock %}

{% block javascript %}
    <script>
        document.getElementById('modalDeleteButton').addEventListener('click', function () {
            fetch("{% url 'api-report-detail' pk=report.id %}", {
                method: 'DELETE',
                headers: {'X-CSRFToken': '{{ csrf_token }}'}
            }).then(response => window.location.replace("{% url 'report_list' %}"));
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container my-2 p-0">
        <div class="row">
            <div class="col-md p-0">
                <div class="row m-0">
                    <div class="d-flex flex-fill flex-column m-2 px-4 pb-4 rounded bg-white">
                        <h1 class="m-0 py-2">Report Details</h1>
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview"
                                   role="tab"
                                   aria-controls="overview" aria-selected="true">Overview</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="log-tab" data-toggle="tab" href="#log" role="tab"
                                   aria-controls="log" aria-selected="false">Log</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="overview" role="tabpanel"
                                 aria-labelledby="overview-tab">
                                <table class="table table-striped m-0">
                                    <tbody>
                                    <tr>
                                        <th class="text-nowrap" scope="row">Title:</th>
                                        <td>{{ report.title }}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-nowrap" scope="row">Created at:</th>
                                        <td>{{ report.created_at }}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-nowrap" scope="row">Sender:</th>
                                        <td>{{ report.email }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade p-2" id="log" role="tabpanel"
                                 aria-labelledby="log-tab">
                                <div style="white-space: pre-wrap; word-break: break-word; overflow-x: auto">{{ report.log }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="d-flex flex-fill m-2 p-3 rounded bg-white">
                        <div class="d-flex flex-column">
                            <div class="d-flex flex-row">
                                <div class="alert alert-primary w-75 m-2 ml-auto" role="alert">
                                    Message from <strong>{{ report.email }}</strong>:<br>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Accumsan in nisl nisi scelerisque eu
                                    ultrices vitae. Diam phasellus vestibulum lorem sed risus ultricies tristique nulla.
                                </div>
                            </div>
                            <div class="d-flex flex-row">
                                <div class="alert alert-warning flex-fill text-center m-2" role="alert">
                                    <strong>Flo</strong> assigned Report to <a
                                        href="{% url 'bin_detail' pk=report.bin.id %}"
                                        class="alert-link">{{ report.bin.name }}</a>
                                </div>
                            </div>
                            <div class="d-flex flex-row">
                                <div class="alert alert-danger w-75 m-2 mr-auto" role="alert">
                                    Note from <strong>Flo</strong>:<br>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Accumsan in nisl nisi scelerisque eu
                                    ultrices vitae. Diam phasellus vestibulum lorem sed risus ultricies tristique nulla.
                                </div>
                            </div>
                            <div class="d-flex flex-row">
                                <div class="alert alert-success w-75 m-2 mr-auto" role="alert">
                                    Reply from <strong>Flo</strong>:<br>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Accumsan in nisl nisi scelerisque eu
                                    ultrices vitae. Diam phasellus vestibulum lorem sed risus ultricies tristique nulla.
                                </div>
                            </div>
                            <div class="input-group input-group d-flex flex-row p-2">
                                <div class="input-group-prepend dropup">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                            data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">Reply
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Reply</a>
                                        <a class="dropdown-item" href="#">Note</a>
                                    </div>
                                </div>
                                <input type="text" class="form-control" placeholder="Enter your message here..."
                                       aria-label="Text input with dropdown button">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary" type="button">Send</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-auto width-200-md m-2 p-0">
                <div class="d-flex flex-column px-4 pb-2 rounded bg-white">
                    <h2 class="m-0 pt-2">Settings</h2>
                    <div class="d-flex flex-column py-2">
                        <div class="d-flex flex-row mb-1 header-underline">
                            <h5 class="m-0 mr-2">Assigned to</h5>
                            <i class="fas fa-pen ml-auto my-auto"></i>
                        </div>
                        <div class="my-1 p-2 rounded bg-light">
                            <a class="btn btn-block text-left text-wrap m-0 p-0 border-0"
                               href="{% url 'bin_detail' pk=report.bin.id %}" role="button">
                                <p class="my-auto">{{ report.bin.name }}</p>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex flex-column py-2">
                        <div class="d-flex flex-row mb-1 header-underline">
                            <h5 class="m-0 mr-2">Labels</h5>
                            <i class="fas fa-pen ml-auto my-auto"></i>
                        </div>
                        {% for label in report.labels.all %}
                            <span class="badge text-left text-wrap my-1 p-2"
                                  style="background-color: {{ label.color }} ; color: white">
                            <p class="my-auto">{{ label.name }}</p>
                        </span>
                        {% empty %}
                            <div class="alert alert-warning my-1 p-2" role="alert">
                                No labels
                            </div>
                        {% endfor %}
                    </div>
                    <div class="d-flex flex-column py-2">
                        <div class="d-flex flex-row mb-1 header-underline">
                            <h5 class="m-0 mr-2">Actions</h5>
                        </div>
                        <button type="button" class="btn btn-danger btn-sm my-1" data-toggle="modal"
                                data-target="#deleteWarningMessage">Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% modal_delete %}
{% endblock %}
