<form class="m-0" method="GET" action="{% url view %}">
    <div class="input-group d-flex flex-row">
        <!--
        <div class="input-group-prepend">
            <button class="btn btn-secondary dropdown-toggle" type="button"
                    data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Filters
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Filter 1</a>
                <a class="dropdown-item" href="#">Filter 2</a>
            </div>
        </div>
        -->

        <input type="text" name="q" class="form-control" placeholder="Search..."
                aria-label="Search query">
        <div class="input-group-append">
            <button class="btn btn-secondary" type="submit">Search</button>
        </div>
    </div>
</form>
