{% extends 'crashbin_app/base.html' %}
{% load components %}
{% load utils %}

{% block title %}{{ title }}{% endblock %}

{% block javascript %}
    <script>
        document.getElementById('search-field').addEventListener('keyup', function () {
            const query = document.getElementById('search-field').value.toLowerCase();
            const selectionElements = document.getElementsByClassName('selection-element');
            let visibleCount = 0;
            for (const element of selectionElements) {
                const name = element.getElementsByTagName('strong')[0].innerText.toLowerCase();
                if (name.includes(query)) {
                    element.style.setProperty('display', 'initial');
                    visibleCount += 1;
                } else {
                    element.style.setProperty('display', 'none', 'important');
                }
            }

            const alert = document.getElementsByClassName('alert')[0];
            if (visibleCount === 0) {
                alert.style.setProperty('display', 'initial');
            } else {
                alert.style.setProperty('display', 'none', 'important');
            }
        })
    </script>
{% endblock %}

{% block content %}
    <div class="container width-540-md my-2 p-0">
        <div class="row">
            <div class="col-lg m-2 p-0">
                <div class="px-4 pb-3 rounded bg-white">
                    <h1 class="m-0 pt-2 text-left text-wrap text-break">{{ title }}</h1>

                    <div class="row mx-n2 mb-2">
                        <div class="col-sm p-2">
                            <div class="input-group d-flex flex-row">
                                <input id="search-field" type="text" class="form-control"
                                       placeholder="Filter..." autocomplete="off"
                                       aria-label="Search query">
                            </div>
                        </div>
                        {% if new_button %}
                            <div class="col-sm-auto p-2">
                                <a class="btn btn-block btn-secondary text-nowrap"
                                   href="{% url new_button.view %}?back={{ request.path | urlencode }}">{{ new_button.text }}</a>
                            </div>
                        {% endif %}
                        <div class="col-sm-auto p-2">
                            <button class="btn btn-block btn-primary text-nowrap" form="selection"
                                    type="submit">Save
                            </button>
                        </div>
                    </div>

                    <form id="selection" class="m-0"
                          action="
                            {% if '/bin/' in request.path %}
                                {% url 'bin_settings' pk=pk setting=setting %}
                            {% elif '/report/' in request.path %}
                                {% url 'report_settings' pk=pk setting=setting %}
                            {% endif %}" method="post">
                        {% csrf_token %}
                        {% for element in all_elements %}
                            <div class="selection-element d-flex flex-row mb-2 rounded">
                                <input type="{% if setting == 'bin' %}radio{% else %}checkbox{% endif %}"
                                       id="element-{{ element.id }}"
                                       name="{{ setting }}"
                                       value="{{ element.id }}" hidden
                                        {% if element in selected_elements %}
                                       checked
                                        {% endif %}>
                                <label for="element-{{ element.id }}"
                                       class="m-0 p-2 d-flex flex-row flex-fill text-left text-wrap text-break rounded"
                                       style="{% if setting == 'label' %}{% label_style element %}{% endif %}">
                                    <strong>{{ element }}</strong>
                                    <i class="fas fa-check my-auto ml-auto"></i>
                                </label>
                            </div>
                        {% endfor %}
                        <div class="alert alert-warning d-flex flex-row mb-2" role="alert"
                             style="display: none !important;">
                            No elements found
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
