.bg-light {
    background-color: #E6E6E6 !important;
}

.bg-dark {
    background-color: #4D4D4D !important;
}

.container {
    min-width: 300px;
}

.navbar {
    min-width: 300px;
}

.btn-secondary {
    color: black;
    background-color: #E6E6E6;
    border-color: #E6E6E6;
}

.btn-secondary:hover {
    color: white;
    background-color: #4D4D4D;
    border-color: #4D4D4D;
}

.bin-list .btn {
    border-radius: initial;
}

.bin-filter .input {
    border-color: #E6E6E6;
}

.card-deck {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1.5em;
}

.list-group-item {
    margin-bottom: -2px;
    border: 2px solid #E6E6E6;
}

.list-group-item:first-child {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.bin-icon {
    font-size: 1.5em;
}

.navbar-icon {
    font-size: 1.5em;
    color: white;
}
