{% extends 'crashbin_app/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container my-3 p-0 width-540-md">
        <div class="d-flex flex-fill flex-column m-2 px-4 pb-4 rounded bg-white">
            <h1 class="m-0 py-2">Login</h1>
            <form method="POST" class="post-form m-0">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-flex flex-row">
                    <button type="submit" class="btn btn-primary ml-auto">Login</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
